*~
*#
.#*
**/*.iml
**/*.bak
**/configfwkdebug.xml
**/.idea
target/*
target
**/.classpath
**/.project
**/velocity.log*
.classpath
.project
.settings
**/.settings
**/.settings/*
.pydevproject
*.log
pom.xml.versionsBackup
release.properties
**/pom.xml.releaseBackup
.flattened-pom.xml
**/lifecycle-config.xml
**/lifecycle-config.xml.lok
.mvn/maven.config
**/*$py.class
**/*.pyc
