{{#group}}

dn: cn={{{name}}},ou=groups,ou=@realm@,dc=@domain@
memberURL: ldap:///ou=people,ou=@realm@,dc=@domain@??sub?(&(objectclass=person)(wlsMemberOf=cn={{{name}}},ou=groups,ou=@realm@,dc=@domain@))
description: {{{description}}}
objectclass: top
objectclass: groupOfURLs
objectclass: groupOfUniqueNames
cn: {{{name}}}
{{#groups}}
uniquemember: cn={{{groupMemberOf}}},ou=groups,ou=@realm@,dc=@domain@
{{/groups}}
{{/group}}
{{#user}}

dn: uid={{{name}}},ou=people,ou=@realm@,dc=@domain@
description: {{{description}}}
objectclass: inetOrgPerson
objectclass: organizationalPerson
objectclass: person
objectclass: top
cn: {{{name}}}
sn: {{{name}}}
userpassword: {{{password}}}
uid: {{{name}}}
objectclass: wlsUser
{{#groups}}
wlsMemberOf: cn={{{groupMemberOf}}},ou=groups,ou=@realm@,dc=@domain@
{{/groups}}
{{#userattr}}
{{{attribute}}}
{{/userattr}}
{{/user}}